mixin mixinNav 
    nav 
        ul(class="flex flex-col gap-4m px-4m tablet:flex-row tablet:gap-32t tablet:px-32t")
            -var contentsNav = {'Inicio':['index.html', 'black-g'],'Significado':['significado.html', 'yellow-g'], 'Uso':['uso.html', 'blue-g'],'Cultura':['cultura.html', 'purple-g']}
            each content, title in contentsNav 
                li(class=`mx-auto my-4m px-[2vw] w-[60vw] h-auto text-center border-l border-${content[1]} tablet:border-l-0 tablet:border-b-2 tablet:w-full desktop:my-[0px]`)
                    a(class=`block text-${content[1]} text-titlem tablet:text-titlet desktop:text-titled` href=content[0])= title  