mixin mixinHeader
    header(class="h-auto bg-[url(https://i.ibb.co/gSpMD43/header-Background.jpg)] bg-cover bg-center")
            figure(class="w-[10%] mt-4m ml-4m tablet:w-[5.7%] tablet:mt-16t tablet:ml-16t")
                img(src="https://i.ibb.co/LRfmJyK/darkMode.png", alt="Modo oscuro")
            h1 VIVAZ