mixin mixinHeader
    header(class="p-4m bg-[url(https://i.ibb.co/gSpMD43/header-Background.jpg)] bg-cover bg-center tablet:p-8t desktop:p-16d")
            figure(class="inline-block w-[12%] tablet:w-[3.43%] desktop:w-[2.67%]" id="buttonDarkMode")
                img(src="https://i.ibb.co/LRfmJyK/darkMode.png", alt="Modo oscuro")
            h1(class="text-white-g inline-block ml-[20%] tablet:ml-[40%] desktop:ml-[42%]") VIVAZ