doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include mixins/mixinLinksHead.pug 
        +mixinLinksHead
        title Cultura
    body
        include mixins/mixinHeader.pug 
        include mixins/mixinNav.pug 
        +mixinHeader 
        +mixinNav.pug
        aside 
            figure 
                svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg") 
                    circle(cx="50", cy="50", r="50", fill="#FFC300")
                    circle(cx="50", cy="50", r="37.5", fill="#009FC7")
                    circle(cx="50", cy="50", r="25", fill="#7F2F8E")
            h2 Cultura
            p Desde tiempos 
                strong antiguos
                |, el color ha tenido un papel importante en las diversas culturas del mundo. Cada cultura ha desarrollado una comprensión única de los colores, que se han utilizado para transmitir significados y simbolismos.
        main
            article
                div
                    h1 Antigua cultura egipcia 
                    p El color desempeñó un papel significativo en la cultura y la religión de la antigua civilización egipcia. Los egipcios asociaban colores con deidades específicas, dioses y conceptos abstractos como la vida, la muerte y la resurrección. Los colores también se usaban para distinguir las diferentes clases sociales y para identificar objetos y lugares específicos.
                        |El color más importante en la cultura egipcia era el azul, que representaba al cielo y al agua. Los egipcios usaban lapislázuli para producir un pigmento de color azul intenso y lo usaban para pintar escenas del cielo y del mar. El oro también era un color importante y se asociaba con los dioses y la realeza. El oro se usaba para representar el sol y se utilizaba en las coronas y objetos de los faraones.
                        br
                        br
                        |El rojo se asociaba con la vida, la muerte y la resurrección. Este color se usaba para representar la sangre y se usaba en ceremonias religiosas para simbolizar la renovación de la vida después de la muerte. El verde se asociaba con la fertilidad y la vegetación y se usaba para representar la vegetación en el desierto. El amarillo se usaba para representar la luz del sol y la eternidad, y el negro se usaba para representar la muerte y la oscuridad.
                        br
                        br
                        |Además de su significado simbólico, los colores también se usaban en la ropa y en los objetos cotidianos. La ropa de los faraones y los miembros de la realeza se adornaba con oro y otros colores brillantes, y los artesanos y campesinos vestían ropa de colores más simples. Los objetos cotidianos también se decoraban con colores y diseños, como los vasos de cerámica pintados con patrones geométricos.
                div
                    figure
                        img(src="https://i.ibb.co/BT2bp1c/egipto-Cultura1.jpg", alt="Jeroglificos", title="Jeroglificos")
                    p En la arquitectura egipcia, los colores se usaban para destacar los detalles y la jerarquía. Los faraones y otros miembros de la realeza construían templos y tumbas decoradas con colores brillantes y diseños intrincados. Los templos se construían con grandes bloques de piedra caliza, que se pintaban con escenas y jeroglíficos para contar historias religiosas y mitológicas.
                    figure 
                        img(src="https://i.ibb.co/DM3Gg6r/egipto-Cultura2.jpg", alt="Tumba de un faraón", title="Tumba de un faraón")
            article
                h1 Antigua cultura china
                p Según la cosmología china, el universo se compone de cinco elementos: madera, fuego, tierra, metal y agua, y cada uno está asociado con un color. Por ejemplo, el color verde representa la madera, el rojo representa el fuego, el amarillo representa la tierra, el blanco representa el metal y el negro representa el agua.
                    br
                    br
                    |Además, los colores también se han utilizado tradicionalmente en la ropa y en los objetos de la vida cotidiana para indicar el estatus social y la afiliación política. 
                    br
                    br
                    |Durante la dinastía Ming (1368-1644), por ejemplo, los miembros de la familia imperial eran los únicos autorizados para usar el color amarillo, que simbolizaba la nobleza y la divinidad. El color rojo, que simboliza la buena suerte, la felicidad y la prosperidad, es un color popular para las bodas y otros eventos alegres.
                    br
                    br
                    |El color también ha desempeñado un papel importante en la medicina tradicional china. En la teoría de la medicina tradicional china, el cuerpo humano está compuesto de cinco órganos principales (corazón, hígado, pulmones, riñones y bazo) y cada uno está asociado con un color. Por ejemplo, el corazón está asociado con el rojo, el hígado con el verde, los pulmones con el blanco, los riñones con el negro y el bazo con el amarillo.    
                figure
                    img(src="https://i.ibb.co/0YRWWNv/china-Cultura3.jpg", alt="Amuleto chino", title="Amuleto chino")
            article
                h1 Antigua cultura india 
                div
                    p El color ha desempeñado un papel importante en la cultura india desde la antigüedad y ha tenido un gran impacto en muchos aspectos de la vida india, desde la religión hasta la moda y la decoración.
                        br
                        br
                        |Religión: Los colores tienen un gran significado en las religiones de la India, especialmente en el hinduismo. Por ejemplo, el rojo se considera un color sagrado y se usa en muchas ceremonias religiosas y festivales. El amarillo es otro color importante en la religión hindú y se asocia con el conocimiento y la iluminación. Además, el color del vestido que se usa en la India puede variar según la religión a la que se pertenece.
                    figure 
                        img(src="https://i.ibb.co/9W4d564/india-Cultura4.jpg", alt="Celebración Holi con colores", title="Celebración Holi con colores")
                    p Moda: El color ha desempeñado un papel importante en la moda india a lo largo de la historia. Los tejidos de seda y algodón se tiñen con colores vibrantes y ricos para crear prendas de vestir tradicionales, como el sari y el kurta. En la moda moderna, los diseñadores indios a menudo usan colores brillantes y llamativos en sus colecciones para reflejar la cultura y la alegría de la India.
                        br
                        br
                        |Decoración: La decoración de los hogares y los lugares de culto también ha sido influenciada por el uso del color en la cultura india. Los diseños tradicionales suelen incluir colores vivos y alegres en formas geométricas y florales. Además, se cree que ciertos colores tienen propiedades curativas, por lo que a menudo se usan en la decoración de interiores.
                    figure
                        img(src="https://i.ibb.co/vQpd85x/india-Cultura5.jpg", alt="Mujer con vestimenta india", title="Mujer con vestimenta india")
            article
                h1 Antigua cultura griega 
                p Los antiguos griegos creían que los colores tenían propiedades místicas y se asociaban con diferentes emociones y estados de ánimo.
                    |En la religión griega, por ejemplo, se utilizaban diferentes colores en la decoración de templos y estatuas para representar a los dioses y diosas. El color blanco se asociaba con la pureza y se utilizaba para representar a la diosa Atenea, mientras que el rojo se asociaba con la guerra y se utilizaba para representar al dios Ares.
                figure
                    img(src="https://i.ibb.co/4KswjdL/grecia-Cultura6.jpg", alt="Estatua de la diosa Atenea" title="Estatua de la diosa Atenea")
                p En la literatura griega, los colores se utilizaban a menudo para describir personajes y situaciones. Homero, por ejemplo, describe los ojos de la diosa Hera como "de vaca" y los de la diosa Afrodita como "brillantes", mientras que los poetas líricos a menudo utilizaban los colores para evocar diferentes estados de ánimo.
                    |En el arte, los antiguos griegos utilizaron una amplia variedad de colores en sus esculturas, pinturas y mosaicos. Utilizaron pigmentos naturales para crear colores brillantes y saturados, y a menudo combinaban diferentes colores para crear contrastes y efectos visuales.
            article
                h1 Antigua cultura precolombina 
                p En muchas culturas precolombinas, como la maya, la azteca y la inca, el color estaba fuertemente asociado con la religión. Por ejemplo, los mayas consideraban que el rojo simbolizaba la sangre y el sacrificio humano, mientras que el verde estaba relacionado con la vegetación y la vida. Los aztecas utilizaban el color azul para representar la divinidad y el cielo, mientras que el amarillo estaba relacionado con el sol y la luz. 
                    br
                    br
                    |En la cultura inca, el color dorado estaba reservado para los objetos sagrados y los miembros de la realeza.
                    |Además, en muchas culturas precolombinas, los colores tenían un significado simbólico y se utilizaban en la ropa y la artesanía para representar el estatus social y la pertenencia a un grupo. Por ejemplo, los incas usaban ropa de colores brillantes y vivos para diferenciar a los miembros de la realeza y de la nobleza de los miembros del pueblo común.
                figure
                    img(src="https://i.ibb.co/VVbCYWc/america-Cultura7.jpg", alt="Hombre con vestimenta precolombina", title="Hombre con vestimenta precolombina")
        include mixins/mixinFooter.pug 
        +mixinFooter